:root {
  --color-wit: #FFFFFF;
  --links: #CD2026;
  --color-zwart: #000000;
  --bg-color: #FFDA0C;
}

/* font size 16 voor body*/


@font-face {
  font-family: "Pokemon Hollow";
  src: url("../assets/fonts/Pokemon Hollow.ttf");
}

@font-face {
  font-family: "Pokemon Solid";
  src: url("../assets/fonts/Pokemon\ Solid.ttf");
}

body {
  background-image: url("/assets/images/bg.png");
  font-family: sans-serif;
  display: grid;
  grid-template-areas:
    "nav    nav     nav     nav  "
    "header header  header  header "
    "main   main    main    aside "
    "footer footer  footer  footer ";
  margin: auto;
}

main {
  grid-area: main;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

footer {
  grid-area: footer;

  background-color: var(--links);
  color: var(--color-zwart);
  text-align: center;
  padding:30px;
}

img {
  height: 325px; 
  /*width: 390px;
   margin-right: 150px; */
}

button {
  text-decoration: none;
}

.PichuPartners {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  font-size: 24px;
}

#title {
  font-family: "Pokemon Hollow";
  font-size: 65px;
  margin: 0px;
}

.Menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-evenly;
  width: 90%;
  max-width: 1200px;
  text-align: center;
  padding: 20px;
  margin: auto;
}

.links {
  border-radius: 12px;
  font-size: 16px;
  margin: auto;
  transition: 0.2s;
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.links>a {
  text-decoration: none;
}

/*---Popup venster---*/
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-image: url(/assets/images/bgpopup.png);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  color: #888;
  cursor: pointer;
}

.close:hover {
  color: black;
}

#Error {
  height: 100px;
  width: 100px;
  margin-bottom: 85px;
  margin-right: -100px;
  
}

#Oak {
  height: 175px;
  width: 175px;
}

/*---Nav---*/
nav {
  grid-area: nav;
  justify-content: space-between;
  border-bottom: 0.4rem solid black;
  background-image: url("/assets/images/bg_pokedex.png");

}

nav ul {
  display: flex;

}

nav ul li {
  list-style: none;

}

nav ul li a {
  float: left;
  color: var(--links);
  text-align: left;
  padding: 8px 6px;
  text-decoration: none;
  font-size: 20px;
  margin: 0.5rem;
  margin-left: 50px;
  margin-top: 35px;

}

nav ul li a:hover {
  color: var(--color-zwart)
}

nav>ul>li>img {
  width: 100px;
  height: 100px;
}

/*---Login---*/
input[name=fname],
input[name=lname],
input[name=name],
input[name=mail],
input[name=psw],
input[name=username] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 4px;
}

.loginbtn {
  background-color: #CD2026;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.cancelbtn {
  align-content: center;
  width: auto;
  padding: 10px 18px;
  background-color: #CD2026;
  margin-top: 15px;
}

.registerbtn {

  margin-left: 975px;
  margin-bottom: 200px;
  background-color: #CD2026;

}

span.psw {
  float: right;

  margin-right: 775px;
  margin-bottom: 50px;
}

Button:hover {
  opacity: 0.8;
}

.container {
  width: 50%;
  margin-left: 30px;
}

#loginh2 {
  margin-left: 30px;
}

/*--- compare ---*/

.vergelijker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.Pokemon{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 4rem;
  padding-left: 4rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
.RightStats, .LeftStats{
  text-align: center;
}

.pokemon, h3, p{
  text-align: center;
}

#pokeleft,
#pokeright,
option {
  width: 150px;
  height: 35px;
  border-radius: 70px;
  margin: 25px;
  border-color: red;
}

.imgvergelijk {
  border-radius: 20%
}

/*--- contact ---*/

.contactform input,
.contactform textarea,
#contact {
  width: 100%;
  padding: 12px;
  border: 1px solid #CD2026;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contactform input[type=submit] {
  background-color: var(--color-wit);
  color: var(--color-zwart);
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #CD2026;
}

.contactform {
  width: 50%;
  margin-left: 250px;
}

h4 {
  font-size: xx-large;
  margin-left: 250px;
}

/*--- mypartner ---*/
.item-container2 {
  display: flex;
  flex-direction: column;
  border: 20px;
  border-radius: 10px;
  border-color: #CD2026
}

.item2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  margin: 10px;
  border: 1px solid #CD2026;
}

/*--- catch ---*/

#ContainerKeepThisPokemon {
  background-color: var(--color-wit);
  border-width: 6px;
  border-style: solid;
  visibility: visible;

}

.PokemonCaughtContainer {
  font-size: 3rem;

}

.pokebalcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /*margin-bottom: 13rem;
  margin-left: 45rem;*/

}

.RandomPokemon {
  text-align: center;
}

#containerPokemonCatcher{
  background-color: var(--color-wit);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 20rem;
  border-style:outset;
  border-width: 10px;
  padding: 4rem;
 
  margin-top: 5%;
}

.pokebal {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--color-wit);
  position: relative;
  overflow: hidden;
}

.PokemonGeneratorImg {
  
  display: flex;
  justify-content: center;
}

.CatchingStats{
  grid-area: aside;
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  padding: 10px;
}
.countcontainer{
  background-color: grey;
  padding: 20px;
  font-size: xx-large;
  text-align: center;
  max-width: 1rem;
}

.buttoncatch {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: var(--color-zwart);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#Yesbtn{
  text-decoration: none;
  display: block;
  margin: 0 auto 20px auto;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
#Yesbtn:hover{
  opacity: 0.8;
}
h5 {
  font-size: xx-large;

}

.catch {
  justify-content: center;
  margin-left: 550px;
}

/*--- Pokedex ---*/
/* Basisstijl voor de hele pagina */
body {
  font-family: Arial, sans-serif;
}


.evoimg {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  border-radius: 50px;
  border-style: solid;
  border-color: #000000;

}

#pokemon-info>p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16pt;
  font-style: oblique;
  font-weight: bold;
}


.container>h1 {
  font-size: xx-large;
}

.search-container>p {
  font-size: x-large;
}

/* Stijl voor de container van de pokedex */
.pokedex-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}



/* Stijl voor de zoekbalk */
.search-container {
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

/* Stijl voor de dropdown */
#pokemon-list {
  width: 100%;
  margin-top: 5px;
}

/* Stijl voor de informatie over de pokemon */
#pokemon-info>h2 {
  text-align: center;
}

.pokemon-details {
  flex-basis: calc(50% - 10px);
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
}

.pokemon-details h2 {
  margin-top: 0;
}

.pokemon-details img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.pokemon-details p {
  margin: 5px 0;
}

/* Stijl voor de evolutielijn */
.evolutions {
  display: flex;
  flex-direction: row;
  margin-left: -350px;
}

#h3evo {
  margin-left: -500px;
  text-align: left;
}

.evolutions-container {
  margin-top: 20px;

}

.evolution-stage {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.evolution-stage img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin: 0 10px;
}

.evolution-stage h3 {
  margin: 0;
}

.evolution-arrow {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin: 0 10px;
}

/*--- Who's That Pokemon? --- */
.container {
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
}

h1 {
  color: #d13939;
}

.shadow {
  width: 400px;
  height: 350px;
  background-color: #f2f2f2;
  margin: 0 auto 0 auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.shadow>img {
  filter: brightness(0);
}

.name {
  font-family: "Pokemon Solid";
  font-size: xx-large;
  letter-spacing: 3px;
  color: var(--color-wit);
  text-shadow: 2px 4px 3px var(--color-zwart);
  margin-top: 0px;
}

#guess,
button {
  display: block;
  margin: 0 auto 20px auto;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}



#submit:hover {
  background-color: #ff5555;
}

.correct {
  background-color: green;
  color: var(--bg-color);
}

.incorrect {
  background-color: red;
  color: var(--color-wit);
}

  @media screen and (max-width: 768px) {
    body {
      font-size: 14px;
    }
  }
  
  main {
    grid-area: main;
  }
  

  
  
  @media screen and (max-width: 768px) {
    img {
      height: auto;
      width: 100%;
    }
  }
  
  button {
    text-decoration: none;
  }
  
  .PichuPartners {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 1.25rem;
    font-size: 1.5rem;
  }
  
  #title {
    font-family: "Pokemon Hollow";
    font-size: 4.0625rem;
    margin: 0;
  }
  
  .Menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-evenly;
    width: 90%;
    max-width: 1200px;
    text-align: center;
    padding: 1.25rem;
    margin: auto;
  }
  
  .links {
    border-radius: 12px;
    font-size: 1rem;
    margin: auto;
    transition: 0.2s;
    width: 9.375rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
  
  .links > a {
    text-decoration: none;
  }
  
  .popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .popup-content {
    background-image: url(/assets/images/bgpopup.png);
    margin: 10% auto;
    padding: 1.25rem;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
  }
  
  .close:hover {
    color: black;
  }
  
  #Error {
    height: 100px;
  }