
 /*--- body ---*/

 html, body{

    color: black;
    
    
}


body {
    display: grid;
    grid-template-areas: 
    "nav    nav     nav     nav "
    "header header  header  header "
    "main   main    main    aside "
    "footer footer  footer  footer";
    
    max-width: 100rem;
    margin: auto;
    background-color: white;
  }
  /*--- nav ---*/

 
nav {
    grid-area: nav;
    justify-content: space-between;
    border-bottom: 	0.4rem solid black;
   
  }

  nav ul {
    display: flex;

}
nav ul li {
    list-style: none;
   
}

nav ul li a {
    float: left;
    color: #CD2026;
    text-align: center;
    padding: 8px 6px;
    text-decoration: none;
    font-size: 14px;
    margin: 0.5rem;
    margin-left: 2.9rem;
    
  }
  nav ul li a:hover {
      color:  #FFDA0C;
  }

   /*--- main ---*/
  main{
    grid-area: main;
    padding-left: 5rem;
    width: 80%;
    
  }

  header{
    grid-area: header;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    padding: 3rem;
    padding-top: 1rem;
    text-align: center;
  }

  
  /*--- contact ---*/

  .contactform input, .contactform textarea, select {
    width: 100%;
    padding: 12px;
    border: 1px solid #CD2026;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  .contactform input[type=submit]  {
    background-color: #FFDA0C;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #CD2026;
  }

 /*--- footer ---*/

  footer {
    grid-area: footer;
  }
  
  footer p {
    color:black ; 
    font-size: 0.8rem;
    padding: 1rem 0 1rem 0;
    text-align: center;
  }


  aside{
    grid-area: aside; 
   
  }


  /*--- login ---*/

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black ;
  box-sizing: border-box;
  border-radius: 4px;
  
}

button {
  background-color: #CD2026;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #CD2026 ;
}


.containerlogin {
  padding: 16px;
  
}

span.psw {
  float: right;
  padding-top: 16px;
}

/*--- verwijder ---*/

.item-container {

  display: flex;
  justify-content: space-between;
  width: 50rem;
  height: 30rem;  
}

.item {
 width: 10rem;
 height: 10rem;
 background-color: #CD2026;

}

.item-container, .item{
  margin-left: 7rem;
  margin-top: 4rem;
}

/*--- compare ---*/

.vergelijker{
  width: 80%;
  margin: auto;
  margin-left: 12rem;
}
.pokemon{
  display: inline-block;
  width: 40%;
  margin: 2%;
  padding: 2%;
  background-color: #FFDA0C;
 border-radius: 70px;
}


.pokemon, h3, p{
  text-align: center;
}

.dropdown{
  width: 30%;
  margin-left: 3rem;
  
}


/*--- mypartner ---*/
.item-container2{
  display: flex;
  flex-direction: column;
  border: 20px;
  border-radius: 10px ;
  border-color: #CD2026

}

.item2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  margin: 10px;
  border: 1px solid #CD2026;
}

/*--- catch ---*/

.pokebalcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 13rem;
  margin-left: 15rem;
}

.pokebal{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #CD2026;
  position: relative;
  overflow: hidden;
}

.buttoncatch{
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: #FFDA0C;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

