<h1>pokemonComparer</h1>
<select name="pokeleft" id="pokeleft">    
<% for(let i = 0; i < pokemonlength; i++){ %>
    <option value="< <%=pokemonarray[i]%> >"><%=pokemonarray[i]%></option>
<% } %>
</select>

<select name="pokeright" id="pokeright">    
    <% for(let i = 0; i < pokemonlength; i++){ %>
        <option value="< <%=pokemonarray[i]%> >"><%=pokemonarray[i]%></option>
    <% } %>
    
</select>

<!-- de stats moeten dan worden opgeroepen met een event listener. -->

<!-- moeten naast mekaar komen frontend!-->
<!-- met css -->
<p>Stats:</p> 
<p>Stats:</p>