<%-include("partials/header")-%>
<%-include("partials/navigation")-%>
<main>
        <section id="PokemonNameBattler"></section>
        <section id="PokemonRandomPicture"><!-- voorlopig random pokemon --></section>

    <aside id="AsideStats">
        <section id="OakBox">
            <h3 id="won">
            </h3>
            <h3 id="lost">
            </h3>
            <h3 id="draw">
            </h3>
        </section>
        <img src="Assets/images/ProfOakpix.png" alt="">
    </aside>

    <section id="container-box-Battler">
        <h3 id="textBattler">pick your next move:</h3>
        <section id="boxbuttons-Battler">
            <input type="button" id="Attack" value="Attack" width="20px"></input>
        </section>

    </section>
    <script src="/assets/code/PokemonBattler.js" defer></script>
</main>
<%- include('partials/footer') %>