<!DOCTYPE html>
<html lang="nl_BE">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <%-include("partials/Navigation")-%>
    </nav>
    <main>
        <h4>Contact Form</h4>
        <section class="contactform">
          <form action="/action_page.php">
            <label for="fname">First name</label>
            <input type="text" id="fname" name="firstname" placeholder="..." required>
        
            <label for="lname">Last name</label>
            <input type="text" id="lname" name="lastname" placeholder="..." required>
        
            <label for="subject">Question ?</label>
            <textarea id="subject" name="subject" placeholder="Write something..." style="height:200px" required></textarea>
      
            <label for="contact">Who do you want to contact ?</label>
            <select id="contact">
              <option value="Developer">Developer</option>
              <option value="Owner">Owner</option>
            </select>
            
            <input type="submit" value="Send">
          <form>
        </section>
    </main>
    <footer>
        <%-include("partials/footer")-%>
    </footer>
</body>
</html>