<%-include("partials/header")-%>
<%-include("partials/navigation")-%>
<main>
<h1>Welcome to the Pokémon project!</h1>
<p>Go to the 'PokéCatcher' to catch Pokémon! afterwards you can go to the 'My Partner' page to check your team and set a partner.<br>
   Your partner can help you catch pokemon or you can battle with it on the 'Battle' page.</p>
</main>
<%-include("partials/footer")-%>
