<!DOCTYPE html>
<html lang="nl_BE">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pichu Partners</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><img src="/assets/images/PichuPartnersLogo.png"></li>
            <li><a href="views/login.ejs">Login</a></li>
            <li><a href="views/compare.ejs">compare</a></li>
            <li><a href="views/contact.ejs">contact</a></li>
            <li><a href="views/mypartner.ejs">mypartner</a></li>
            <li><a href="views/PokeCatcher.ejs">PokeCatcher</a></li>
            <li><a href="views/pokedex.ejs">pokedex</a></li>
            <li><a href="views/raadpokemon.ejs"></a></li>
        </ul>
    </nav>
    <main>
        <section>
        <article class="PichuPartners"> <h1>Pokemon</h1> <img src="/assets/images/Pichu partners.gif"> <br> <button class="links" type="button" onclick="alert(`Je moet ingelogd zijn om deze project te bekijken.`)"> <a href="#">Select</a> </button> </article>
        </section>
        <section class="Menu">
            <article class="keuze"> <h1>Fifa</h1> <img src="/assets/images/pexels-pixabay-46798.jpg"> <br> <button class="links" type="button" onclick="alert(`Je hebt geen toegang tot dit project.`)"> <a href="#">Select</a> </button> </article>
            <article class="keuze"> <h1>Magic The Gathering</h1> <img src="/assets/images/magic_0.jpg"> <br> <button class="links" type="button" onclick="alert(`Je hebt geen toegang tot dit project.`)"> <a href="#">Select</a> </button> </article>
            <article class="keuze"> <h1>Nationale Bank België</h1> <img src="/assets/images/Logo-NBB.jpg"> <br> <button class="links" type="button" onclick="alert(`Je hebt geen toegang tot dit project.`)"> <a href="#">Select</a> </button> </article>
            <article class="keuze"> <h1>The Lord Of The Rings</h1> <img src="/assets/images/lotr.jpg"> <br> <button class="links" type="button" onclick="alert(`Je hebt geen toegang tot dit project.`)"> <a href="#">Select</a> </button> </article>
            <article class="keuze"> <h1>Fortnite</h1> <img src="/assets/images/fortnite.jpg"> <br> <button class="links" type="button" onclick="alert(`Je hebt geen toegang tot dit project.`)"> <a href="#">Select</a> </button> </article>
            <article class="keuze"> <h1>Lego Masters</h1> <img src="/assets/images/Lego.jpg"> <br> <button class="links" type="button" onclick="alert(`Je hebt geen toegang tot dit project.`)"> <a href="#">Select</a> </button> </article>
        </section>
    </main>
    <footer>
        <%-include('./partials/footer');%>
    </footer>
</body>
</html>