<%-include("partials/header")-%>
    <nav>
        <ul>
            <li><img src="/assets/images/PichuPartnersLogo.png"></li>
        </ul>
    </nav>
    <main>
        <h2 id="loginh2">Login Form</h2>
    
    <form action="/login" method="post" id="LoginForm">
      
      <section class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
            
        <button class="loginbtn"type="submit">Login</button>
        <label>
          <span name="recoverpsw"> Forgot <a href="#">password?</a></span> <br>
          <br>
          <span>Not a member? <a href="register">Register now!</a></span>
        </label>
      </section>
    
        <button type="button" class="cancelbtn" onclick="CancelBtnRedirect()">Cancel</button>
    </form>
      </main>
      <script src="/assets/code/login.js" defer></script>

      <%-include("partials/footer")-%>