<!DOCTYPE html>
<html lang="nl_BE">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPartner</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <%-include("partials/Navigation")-%>
    </nav>
    <main>
        <section class="item-container2">
            <article class="item2">1</article>
            <article class="item2">2</article>
            <article class="item2">3</article>
            <article class="item2">4</article>
            <article class="item2">5</article>
            <article class="item2">6</article>
        </section>
      </main>
      <footer>
        <%-include("partials/footer")-%>
      </footer>
</body>
</html>