    <%-include("partials/header")-%>
    <%-include("partials/navigation")-%>

    <main>
        <section class="item-container2">
            <section id="container-item-1"></section>
            <section id="container-item-2"></section>
            <section id="container-item-3"></section>
            <section id="container-item-4"></section>
            <section id="container-item-5"></section>
            <section id="container-item-6"></section>
        </section>
        <script src="/assets/code/mypartner.js" defer></script>
      </main>
      
    <%-include("partials/footer")-%>

