<!DOCTYPE html>
<html lang="nl_BE">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPartner</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <%-include("partials/Navigation")-%>
    </nav>
    <main>
        <section class="item-container2">
            <section id="container-item-1"></section>
            <section id="container-item-2"></section>
            <section id="container-item-3"></section>
            <section id="container-item-4"></section>
            <section id="container-item-5"></section>
            <section id="container-item-6"></section>
        </section>
        <script src="/assets/code/mypartner.js"></script>
      </main>
      <footer>
        <%-include("partials/footer")-%>
      </footer>
</body>
</html>