<%-include("partials/header")-%>
<%-include("partials/navigation")-%>
    <main>

        <section id='containerPokemonCatcher'>
            <section id="PokemonGeneratorImg"></section>
            <h2 id="name"></h2>
        </section>

        <section id="PartnerContainer">
            <h1>Partner</h1>
            <img id="partnerImg" src="" alt="">
            <h2 id="partnerName"><%= pokepartner %></h2>
        </section>
        
        <section class="pokebalcontainer">
            <section class="pokebal">
                <button class="buttoncatch"></button>
            </section>
            <section class="countcontainer"></section>
        </section>

        <button id="BtnNext">Click Next Pokemon</button>

        <section id="ContainerKeepThisPokemon">
            <section id="CaughtText"></section>
            <section><h1>Do You want to keep this Pokemon?</h1></section>
            <form action="/catcher" method="post">
                <input type="hidden" id="NameOutputHidden" name="NameOutputHidden" value="">                
                <input type="submit" name="Yesbtn" id="Yesbtn" value="Yes">
            </form>
            <button id="Nobtn">No</button>
        </section>
       
      </main>

      <aside class="CatchingStats">
        <section>
            <h1>procent voor Pokemon te vangen.</h1>
            <h1 id="procent"></h1>
        </section>
        <section>
            <h1>Random Getal:</h1>
            <h1 id="RandomGetalVan0tot100"></h1>
        </section>
        <section>
            <h1>Eigen Pokemon Attack Stat</h1>
            <h1 id="EigenPokemonAttackStat"></h1>
        </section>
        <section>
            <h1>Eigen Pokemon Special Attack Stat</h1>
            <h1 id="EigenPokemonSpAttackStat"></h1>
        </section>
        <section>
            <h1>Wild Pokemon Defense Stat</h1>
            <h1 id="PokemonDefenseStat"></h1>
        </section>
        <section>
            <h1>Wild Pokemon Special Defense Stat</h1>
            <h1 id="PokemonSpDefenseStat"></h1>
        </section>
       </aside>

       <script src="/assets/code/catcher.js" defer></script>
        <%-include("partials/footer")-%>

<!-- Readme -->
<!-- Als je een pokemon vangt kan je deze bijhouden dan moet je op 
    yes drukken anders no en dan krijg je een nieuwe pokemon te zien
    als je op yes drukt word de no knop ui 
    gezet en moet je op click next Pokemon drukken.  -->