<!DOCTYPE html>
<html lang="nl_BE">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeCatcher</title>
</head>
<body>
    <nav>
        <%-include("partials/Navigation")-%>
    </nav>
    <main>
        <h5>Pichu</h5>
        <img class="catch" src="/assets/images/PichuPartnersLogo.png" alt="">

        <section class="pokebalcontainer">
            <section class="pokebal">
                <img src="" alt="" srcset="">
                <section class="buttoncatch"></section>
            </section>
        </section>
      </main>
    <footer>
        <%-include("partials/footer")-%>
    </footer>
</body>
</html>