<%-include("partials/header")-%>
<%-include("partials/navigation")-%>
    <main>
        <section class="container-who">

            <h1>Who's that Pokemon?</h1>
            
            <article class="shadow"></article>

            <p class="name"></p>
            
            <input type="text" id="guess" placeholder="Guess the Pokemon name" list="pokemon-list">
            <datalist id="pokemon-list"></datalist>
            
            <button id="submit" onclick="checkGuess()">Guess!</button>
            
            <button id="next">Next Pokemon</button>
            
        </section>
        <script src="/assets/code/raadpokemon.js"></script>
    </main>
        <%-include("partials/footer")-%>
