<!DOCTYPE html>
<html lang="nl_BE">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who's That Pokemon?</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <%-include("partials/Navigation")-%>
    </nav>
    <main>
        <section class="container">

            <h1>Who's that Pokemon?</h1>
            
            <div class="shadow"></div>
            
            <input type="text" id="guess" placeholder="Type the Pokemon name here">
            
            <button id="submit" onclick="checkGuess()">Guess!</button>
            
        </section>
        <script src="/assets/code/raadpokemon.js"></script>
    <footer>
        <%-include("partials/footer")-%>
    </footer>
</body>
</html>