<%-include("partials/header")-%>
    <nav>
        <ul>
            <li><img src="/assets/images/PichuPartnersLogo.png"></li>
        </ul>
    </nav>
    <main>
        <h2>Registration Form</h2>
    
    <form action="/register" method="post" id="RegisterForm">
      
      <section class="container">
        <input type="text" placeholder="Firstname" name="fname" required>

        <input type="text" placeholder="Lastname" name="lname" required>

        <input type="text" min="3" placeholder="Username" name="name" required>

        <input type="email" placeholder="Email" name="mail" required>
    
        <input type="password" minlength="8" placeholder="Password" name="psw" required>
            
        <button class="loginbtn"type="submit">Register</button>
      </section>
        <button type="button" class="cancelbtn" onclick="CancelBtnRedirect()">Cancel</button>
    </form>
      </main>
      <script src="/assets/code/login.js" defer></script>
      
        <%-include("partials/footer")-%>


</body>
</html>