<!DOCTYPE html>
<html lang="nl_BE">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><img src="/assets/images/PichuPartnersLogo.png"></li>
            <li> <a href="Pokemon/Website/FrontEnd/index.html">Home</a></li>
            <li> <a href="/views/compare.ejs">Compare</a></li>
            <li><a href="/views/pokecatcher.ejs">PokéCatch</a></li>
            <li><a href="/views/pokedex.ejs">Pokédex</a></li>
            <li><a href="/views/mypartner.ejs">MyPartner</a></li>
            <li><a href="Pokemon/Website/FrontEnd/battler.html">PokemonBattler</a></li>
            <li><a href="/views/raadpokemon.ejs">Whos that pokemon</a></li>
            <li><a href="/views/contact.ejs">Contact</a></li>
        </ul>
    </nav>
</body>
</html>